<h2 align="center">Students Enrolled</h2>
<div class="row">
  <% @students.each do |student| %>
   <div class="col s6 m6">
     <div class="card blue-grey darken-1">
       <div class="card-content white-text">
         <span class="card-title"><h5>Name: <%= student.name%></h5></span>
         <p>Email : <%= student.email %></p>
       </div>
       <div class="card-action">
            <%= link_to "View Profile", student_path(student) %>
       </div>
     </div>
   </div>
  <% end %>
</div>
