<div class="row">
  <div class="col s12">
    <h1 align="center"><%= @course_to_view.name %></h1>
  </div>
</div>
<div class="video-container">
  <iframe width="853" height="480" src="https://www.youtube.com/embed/<%= @course_to_view.embedcode %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
