<div class="row">
  <div class="col s12">
    <h1 align="center">About Us</h1>
  </div>
</div>
<div class="row">
  <div class="col s8 offset-m2 offset-s2">
    <div class="card-panel teal">
      <p class="white-text">
        Hello everyone, my name is Deepak Mahajan and I have created this Tech University Web application
        using Ruby-On-Rails framework and Materialize-CSS. I am pursuing my B.tech degree in CSE from
        Guru Nank Dev University, currently in 2nd year.
      </p><br>
      <a href="https://www.github.com/deepakMaj"><h6 class="yellow-text">About me</h6></a>
    </div>
  </div>
</div>
