<div class="row">
  <div class="col s12">
    <h3 align="center"><%= @course.name %></h3>
  </div>
</div>
<div class="row">
  <div class="col s12">
    <div class="card-panel teal">
      <p class="white-text">
        <strong><%= @course.description %></strong>
      </p>
    </div>
  </div>
</div>
