<div class="row">
  <div class="col s12">
    <h1 align="center"><%= @course.name %></h1>
  </div>
</div>
<div class="row">
  <div class="col s8 offset-m2">
    <div class="card-panel teal">
      <p class="white-text">
        <strong><%= @course.description %></strong>
      </p>
    </div>
  </div>
</div>
